*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
  max-width: 1200px;   
  margin: 0 auto;      
  padding: 40px 20px;
  display: grid;
  gap: 24px;  
 grid-template-columns: 1fr;
 background-color: rgb(172, 197, 226);        
}
.card{
  background: rgb(1, 32, 90);
  border-radius: 16px; 
  padding: 16px;
  box-shadow: 10 px rgb(85, 232, 225);
  transition: 0.3s;
}
.card img{
  width: 100%;
  height: 180px;  
  box-shadow: rgb(71, 189, 200);
  object-fit: cover;
  border-radius: 12px;
}
.card h3{
  text-shadow: 2px 2px 5px rgb(85, 232, 225);
  font-size: 25px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;
  margin: 16px 0 8px;
}

.card p{
  font-size: 19px;
  line-height: 1.5;
  color: white;
  margin-bottom: 16px;
}
.card button{
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover{
  background: #1e40af;
}
.card:hover{
  transform: scale(1.04);
}
.container{
  grid-template-columns: 1fr;
}
@media (min-width: 576px){
  .container{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px){
  .container{
    grid-template-columns: repeat(3, 1fr);
  }
}
